@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	min-width: 360px;
	width: 100%;
}
.flag {
	display: flex;
	justify-content: space-between;
	background: url(Italy.png) 100% 50% no-repeat;
}
.greenline {
	height: 4230px;
	background: #029044;
	width: 35%;
	opacity: 0.7;
}
.white > h1 {
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	color: #FF0000;
}
.white > p {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #FF0000;	
}
.redline {
	background: #FF0000;
	width: 35%;
	opacity: 0.7;
}
.topline {
	width: 320px;
	height: 19px;
	background: #029044;
}
.bottomline {
	width: 320px;
	height: 19px;
	background: #D51D21;
}
#mask {
	width: 320px;
}
.orangeblock {
	width: 320px;
	height: 44px;
	background: #F98000;
	margin-bottom: 16px;
}
.orangeblock > p {
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	padding-left: 16px;
    padding-right: 84px;
    padding-top: 8px;
}
.redslogan {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FF0000;
}
